<div class="col-12 col-md-6 col-xl-4">
    <!-- Card -->
    <div style="height: calc(100% - 20px);" class="card">
        <a href="/learn-{{locale}}/courses/{{course.url_id}}{{trailingPath}}" class="spf-link">
            <img src="{{course.logo_url}}" alt="..." class="card-img-top course-card-bg">
        </a>

        <div class="card-body text-center d-flex flex-column justify-content-between">

            <a href="/learn-{{locale}}/courses/{{course.url_id}}{{trailingPath}}" class="spf-link avatar avatar-xl card-avatar card-avatar-top">
                <img src="{{course.badge_url}}" class="course-badge avatar-img rounded-circle border border-4 border-card"
                     alt="...">
            </a>

            <h2 class="card-title text-center">
                <a href="/learn-{{locale}}/courses/{{course.url_id}}{{trailingPath}}" class="spf-link">{{course.title}}</a>
            </h2>

            <p class="card-text text-center text-muted">
                <small>
                    {{course.headline}}
                </small>
            </p>

            <hr class="row">

            <div class="row">
                <div class="col-auto">
                    <small>
                        <span class="fe fe-clock"></span> {{course.est_minutes_text}}
                    </small>
                    <span class="badge badge-primary">
                        {{course.primary_topic}}
                    </span>
                    <span class="badge badge-secondary">
                        {{course.skill_level_text}}
                    </span>
                </div>
                <!--<div class="col-auto">-->
                    <!--{{#if has_live_mode}}-->
                        <!--<a href="/learn-{{locale}}/courses/{{course.url_id}}/live" class="btn btn-sm btn-warning spf-link">-->
                            <!--<span class="fe fe-radio"></span> Live-->
                        <!--</a>-->
                    <!--{{else}}-->
                        <!--<a href="/learn-{{locale}}/courses/{{course.url_id}}/content" class="btn btn-sm btn-primary spf-link">-->
                            <!--<span class="fe fe-book-open"></span> Learn-->
                        <!--</a>-->
                    <!--{{/if}}-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>