{{#if data.course.meta.has_live_mode}}
    <div class="card">
        <div class="card-body text-center">
            <div class="row justify-content-center">
                <div class="col-12 ">

                    <!-- Image -->
                    <img src="/learn-en/assets/img/illustrations/coworking.svg" alt="..." class="img-fluid mb-4">

                    <!-- Title -->
                    <h2>
                        {{intlGet "messages.class.join_live_class"}}
                    </h2>

                    <!-- Content -->
                    <p class="text-muted">
                        {{intlGet "messages.class.live_class_headline"}}
                    </p>

                    <!-- Button -->
                    <a href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/live" class="spf-link btn btn-danger">
                        {{intlGet "messages.class.register_label"}}
                    </a>

                </div>
            </div> <!-- / .row -->
        </div>
    </div>
{{/if}}

<div class="card">
    <div class="card-body text-center">
        <div class="row justify-content-center">
            <div class="col-12 ">

                <!-- Image -->
                <img src="/learn-en/assets/img/illustrations/happiness.svg" alt="..." class="img-fluid mb-4" style="max-width: 272px;">

                <!-- Title -->
                <h2>
                    {{intlGet "messages.certificate.get_get"}}
                </h2>

                <!-- Content -->
                <p class="text-muted">
                    {{intlGet "messages.certificate.trustworthy_line"}}
                </p>

                <!-- Button -->
                <a href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/certificate" class="spf-link btn btn-primary">
                    {{intlGet "messages.help.learn_more"}}
                </a>

            </div>
        </div> <!-- / .row -->
    </div>
</div>