<div class="course-card-item" data-card-page-index="{{data.course.nav.pages.currentIndex}}" data-card-url-path="{{data.course.nav.pages.currentPage.path}}" data-course-id="{{{data.course.meta.url_id}}}" data-unit-id="{{{data.course.nav.currentUnit.url_id}}}" data-section_id="{{{data.course.nav.currentSection.url_id}}}" data-card-id="{{{data.course.card.url_id}}}">
    <div class="row align-items-center">
        <!-- Title -->
        <div class="col">
            <h4 class="">
                {{data.course.nav.currentSection.title}}
            </h4>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col" style="margin: 8px 0;">
                    <!-- Title -->
                    <h1 class="card-header-title">
                        {{data.course.card.title}}
                    </h1>
                </div>
                <div class="col-auto" style="margin: 8px 0;">
                    <a class="drift-open-chat btn btn-sm btn-info" href="#!"> 🙋 {{intlGet "messages.help.need_ask"}}</a>
                    <script>
                        // TODO Setup template in Drift similar to Intercom
                        // $(function() {
                        //     $('#cc-live-chat-help').click(function() {
                        //         Intercom('showNewMessage', '🙋‍ Hi there, can you help with me with the ' + '{{{data.course.meta.title}}}' + ' Course?\n\nI\'m on the ' + '{{{data.course.card.title}}}' + ' part (' + '{{{route.canonicalUrl}}}' + ') and would really appreciate your time helping me!\n\nPlease type your question here and then send your message ⚡')
                        //     });
                        // });
                    </script>
                </div>
            </div>
        </div>
        <div class="card-body course-card-body">
            <article>
                {{{data.course.card.content.content}}}
            </article>
            {{#if data.course.card.github_edit_url}}
                <a class="btn btn-sm btn-secondary float-right" target="_blank" rel="noopener" href="{{{data.course.card.github_edit_url}}}"><span class="fe fe-github"></span> Edit Me on GitHub!</a>
            {{/if}}
        </div>
    </div>
    {{#if data.course.card.question}}
        <div class="card">
            <div class="card-header">
                <!-- Title -->
                <h4 class="card-header-title">
                    {{intlGet "messages.question.app_question_label"}}
                </h4>
            </div>
            <div class="card-body course-card-body">
                {{> quiz-question data.course.card.question}}
            </div>
        </div>
    {{/if}}
</div>
