<div class="col-12 col-md-6 col-xl-4">
    <!-- Card -->
    <div class="card">
        <a href="/learn-{{locale}}/digital-diplomas/{{diploma.url_id}}{{trailingPath}}" class="spf-link">
            <img src="{{diploma.logo_url}}" alt="..." class="card-img-top course-card-bg">
        </a>
        <div class="card-body text-center">
            <a href="/learn-{{locale}}/digital-diplomas/{{diploma.url_id}}{{trailingPath}}" class="spf-link avatar avatar-xl card-avatar card-avatar-top">
                <img src="{{diploma.badge_url}}" class="course-badge avatar-img rounded-circle border border-4 border-card"
                     alt="...">
            </a>
            <h2 class="card-title">
                <a href="/learn-{{locale}}/digital-diplomas/{{diploma.url_id}}{{trailingPath}}" class="spf-link">{{diploma.title}}</a>
            </h2>
            <p class="card-text text-muted">
                <small>
                    {{diploma.headline}}
                </small>
            </p>
            <hr>
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <small>
                        <span class="fe fe-clock"></span> {{diploma.est_minutes_text}}
                    </small>
                    <span class="badge badge-primary">
                        {{diploma.primary_topic}}
                    </span>
                    <span class="badge badge-secondary">
                        {{diploma.skill_level_text}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>