<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{meta.fullTitle}}</title>
<meta name="description" content="{{meta.description}}">
<link rel="canonical" href="{{route.canonicalUrl}}">
{{#each meta.altUrls}}
<link rel="alternate" hreflang={{@key}} href="{{this}}">
{{/each}}
{{#if meta.amphtml}}
<link rel="amphtml" href="{{meta.amphtml}}">
{{/if}}
{{> social-meta}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122120459-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{{config.gaTrackingID}}}');
    // Add aw ID TODO create more flexible config
    gtag('config', 'AW-809334371');
    function gtag_report_conversion(url) {
        var callback = function () {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-809334371/wZeSCKioopABEOPs9YED',
            'event_callback': callback
        });
        return false;
    }
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-55LZMP9');</script>
<!-- End Google Tag Manager -->
{{#each meta.jsonld}}
    <script type="application/ld+json">
        {{{JSONstringify this}}}
    </script>
{{/each}}
<!-- Libs CSS -->
{{log config.static_assets_url_prefix}}
<link rel="stylesheet" href="{{config.static_assets_url_prefix}}/fonts/feather/feather.min.css">
<link rel="stylesheet" href="{{config.static_assets_url_prefix}}/libs/highlight/styles/vs2015.min.css">
<!-- TODO add libs back when required -->
<!--<link rel="stylesheet" href="{{config.static_assets_url_prefix}}/libs/quill/dist/quill.core.css">-->
<link rel="stylesheet" href="{{config.static_assets_url_prefix}}/libs/select2/dist/css/select2.min.css">
<!--<link rel="stylesheet" href="{{config.static_assets_url_prefix}}/libs/flatpickr/dist/flatpickr.min.css">-->
<link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
<link rel="stylesheet" href="{{config.static_assets_url_prefix}}/libs/toastr/toastr.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css"/>

<!-- Important scripts -->
{{#not mobile}}
<script type="text/javascript">
    var subscribersSiteId = '{{config.subscribersSiteID}}';
</script>
<script type="text/javascript" src="https://cdn.subscribers.com/assets/subscribers.js"></script>
{{/not}}
<!-- TODO Clean this up and load jquery later, however, too many page scripts require this while loading... -->
<script src="{{config.static_assets_url_prefix}}/libs/jquery/dist/jquery.min.js"></script>
<!-- TODO make the booking impl async -->
<script src="https://cdn.timekit.io/booking-js/v2/booking.min.js"></script>
<!-- TODO make stripe impl support async -->
<script src="https://js.stripe.com/v3/"></script>

<!-- Theme CSS -->
{{> styles}}
