<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{meta.fullTitle}}</title>
<meta name="description" content="{{meta.description}}">
<link rel="canonical" href="{{route.canonicalUrl}}">
{{#each meta.altUrls}}
<link rel="alternate" hreflang={{@key}} href="{{this}}">
{{/each}}
{{#if meta.amphtml}}
<link rel="amphtml" href="{{meta.amphtml}}">
{{/if}}
{{> social-meta}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122120459-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{{config.gaTrackingID}}}');
    // Add aw ID TODO create more flexible config
    gtag('config', 'AW-809334371');
    function gtag_report_conversion(url) {
        var callback = function () {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-809334371/wZeSCKioopABEOPs9YED',
            'event_callback': callback
        });
        return false;
    }
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-55LZMP9');</script>
<!-- End Google Tag Manager -->
{{#each meta.jsonld}}
    <script type="application/ld+json">
        {{{JSONstringify this}}}
    </script>
{{/each}}
<!-- Libs CSS -->
{{log config.static_assets_url_prefix}}

<!--- NOTE Deferred CSS is added via scripts (from a noscript element) -->

<!-- TODO Clean this up and load jquery later, however, too many page scripts require this while loading... -->
<script src="{{config.static_assets_url_prefix}}/libs/jquery/dist/jquery.min.js"></script>
<script async src="https://js.stripe.com/v3/"></script>

<!-- Theme CSS -->
{{> styles}}
