<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{meta.fullTitle}}</title>
<meta name="description" content="{{meta.description}}">
<link rel="canonical" href="{{route.canonicalUrl}}">
{{#if meta.amphtml}}
<link rel="amphtml" href="{{meta.amphtml}}">
{{/if}}
{{> social-meta}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122120459-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{{config.gaTrackingID}}}');
</script>
{{#each meta.jsonld}}
    <script type="application/ld+json">
        {{{JSONstringify this}}}
    </script>
{{/each}}
<!-- Libs CSS -->
<link rel="stylesheet" href="/learn-en/assets/fonts/feather/feather.min.css">
<link rel="stylesheet" href="/learn-en/assets/libs/highlight/styles/vs2015.min.css">
<!-- TODO add libs back when required -->
<!--<link rel="stylesheet" href="/learn-en/assets/libs/quill/dist/quill.core.css">-->
<link rel="stylesheet" href="/learn-en/assets/libs/select2/dist/css/select2.min.css">
<!--<link rel="stylesheet" href="/learn-en/assets/libs/flatpickr/dist/flatpickr.min.css">-->
<link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
<link rel="stylesheet" href="/learn-en/assets/libs/toastr/toastr.min.css"/>

<!-- Important scripts -->
{{#not mobile}}
<script type="text/javascript">
    var subscribersSiteId = '{{config.subscribersSiteID}}';
</script>
<script type="text/javascript" src="https://cdn.subscribers.com/assets/subscribers.js"></script>
{{/not}}
<!-- TODO Clean this up and load jquery later, however, too many page scripts require this while loading... -->
<script src="/learn-en/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- TODO make the booking impl async -->
<script src="https://cdn.timekit.io/booking-js/v2/booking.min.js"></script>
<!-- TODO make stripe impl support async -->
<script src="https://js.stripe.com/v3/"></script>

<!-- Theme CSS -->
{{> styles}}
