<nav class="navbar navbar-expand-md navbar-light" style="border-bottom: 0; background-color: transparent">
    <div class="container-fluid">

        <!-- Brand -->
        <div>
          <a class="navbar-brand" href="/home">
            <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/exlskills-logo-white.svg" class="navbar-brand-img
            mx-auto" alt="...">
          </a>
        </div>

        <style>

        .navbar-brand-img {
          height: 100%;
        }

        #marketing-nav {
          font-size: 1.2em;
          font-weight: bold;
        }

        #btn-start {
          font-size: 1em;
          font-weight: bold;
        }


        </style>
        <!-- NavBar Links wide format -->
          <div style="display: none" id="marketing-nav" class="navbar-nav d-md-flex flex-row">

            <div class="nav-item">
              <a style="color: #F2F2F3;" class="nav-link spf-link {{#eq contentTmpl "home"}}active{{/eq}}" href="/learn-{{route.locale}}/home">
                  Home
              </a>
            </div>

            <div class="nav-item">
              <a style="color: #F2F2F3;" class="nav-link spf-link {{#eq contentTmpl "courses"}}active{{/eq}}" href="/learn">
                  Courses
              </a>
            </div>

            <div class="nav-item">
              <a style="color: #F2F2F3;" class="nav-link spf-link {{#eq contentTmpl "help"}}active{{/eq}}" href="{{config.helpBaseURL}}" target="_blank" rel="noopener">
                  Help
              </a>
            </div>

            <div class="nav-item">
              <a style="color: #F2F2F3;" class="nav-link spf-link" href="{{config.becomeAnInstructorForm}}" target="_blank" rel="noopener"  >
                  Instructor
              </a>
            </div>


          <!-- Button -->
          <div class="navbar-user">
            <a id="btn-start" href="learn-en/dashboard" class="btn btn-outline-primary pt-2 pb-2 pl-4 pr-4 btn-course ml-4">
              Enter
            </a>
          </div>

        </div> <!-- / .navbar-nav -->

        <!--Navbar links mobile format menu hamburger-->
        <div style="display: flex" class="navbar-nav d-md-none mr-4">

            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/menu-hamburguer.svg" />
            </a>

            <div class="dropdown-menu dropdown-menu-right" style="z-index: 1000; position: absolute;" aria-labelledby="dropdownMenu2">

              <a class="nav-link spf-link {{#eq contentTmpl "home"}}active{{/eq}}" href="/learn-{{route.locale}}/home">
                  Home
              </a>

              <a class="nav-link spf-link {{#eq contentTmpl "courses"}}active{{/eq}}" href="/learn">
                  Courses
              </a>

              <a class="nav-link spf-link {{#eq contentTmpl "help"}}active{{/eq}}" href="{{config.helpBaseURL}}" target="_blank" rel="noopener">
                  Help
              </a>

              <a class="nav-link spf-link {{#eq contentTmpl "instructor"}}active{{/eq}}" href="{{config.becomeAnInstructorForm}}" target="_blank" rel="noopener">
                  Instructor
              </a>

            </div>
        </div>
    </div> <!-- / .container-fluid -->
</nav>
