<style>
    @media (max-width: 768px) {
        #modalManageCoins .btn-sm-w-100 {
            width: 100%;
        }
    }
</style>

<!-- Modal: Billing -->
<div class="modal fade" id="modalManageCoins" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-card card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                Your EXLskills Coins
                            </h4>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>

                <div class="card-body">
                    <!-- Coins Balance -->
                    <div>
                        <div class="mb-3">
                            You Have: <strong><span class="text-info" data-toggle="tooltip" data-placement="top"
                                                    title=""
                                                    data-original-title="Coins pay for certificates, live courses, and 1-on-1 training">{{user.coins}} EXLskills Coin{{#isnt user.coins 1}}s{{/isnt}} <span
                                class="fe fe-help-circle mr-4"></span></span></strong>
                        </div>

                        <!--<div class="card bg-light border">-->
                        <!--<div class="card-body">-->
                        <!--Your balance: <strong>0 Coins</strong>-->
                        <!--</div>-->
                        <!--</div>-->

                        <form id="purchase-coins-form">
                            <div class="form-row">
                                <div class="col-12 col-md-6 mb-3">
                                    <input {{#lt user.sub_level 1000}}disabled{{/lt}} {{#if
                                            user.is_demo}}disabled{{/if}} type="number" min="1" step="1"
                                                                          oninput="validity.valid||(value='');"
                                                                          class="form-control"
                                                                          id="coins-purchase-amount"
                                                                          placeholder="# of Coins" required="">
                                </div>
                                <div class="col-12 col-md-6 mb-3 coins-purchase-btn-col">
                                    <div class="row">
                                        <div class="col">
                                            <button {{#lt user.sub_level 1000}}disabled{{/lt}} {{#if user.is_demo}}disabled{{/if}} type="submit" class="btn btn-success w-100 text-center form-btn-submit">Purchase</button>
                                        </div>
                                        {{#gt user.sub_level 1000}}
                                            {{#if user.is_demo}}
                                            {{else}}
                                                <div class="col-auto p-0">
                                                    <button type="button"
                                                            class="btn btn-outline-secondary collapse-toggle"
                                                            data-toggle="collapse" data-target="#forget-card-collapse">
                                                        <span class="fe fe-more-horizontal"></span></button>
                                                </div>
                                            {{/if}}
                                        {{/gt}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {{#if user.is_demo}}
                        <div class="card bg-light border">
                            <div class="card-body text-center">
                                <strong>
                                    <a href="{{config.authAPIBaseURL}}/auth/keycloak?redirect={{encodeURI route.url}}{{encodeURI '#!modalManageCoins=true'}}">Login to Make Purchases</a>
                                </strong>
                            </div>
                        </div>
                    {{else}}
                        {{#gt user.sub_level 1000}}
                            <div class="collapse" id="forget-card-collapse">
                                <form id="forget-card-form">
                                    <div class="form-row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <label for="forget-card-btn">Remove Your Credit Card?</label>
                                            <button id="forget-card-btn" type="submit"
                                                    class="btn btn-danger float-right w-100 form-btn-submit">Forget Card
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {{else}}
                            <form id="coins-card-form">
                                <div class="">
                                    <label for="coins-card-element">
                                        <span data-toggle="tooltip" data-placement="top" title=""
                                              data-original-title="Your card will be charged only for purchases you make on EXLskills. You can remove it at any time.">Add Credit or Debit Card <span
                                                class="fe fe-help-circle mr-4"></span></span>
                                    </label>
                                    <div id="coins-card-element">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>

                                    <!-- Used to display form errors. -->
                                    <div id="coins-card-errors" role="alert" class="text-danger"></div>
                                </div>

                                <button type="submit"
                                        class="btn btn-primary float-right mt-4 btn-sm-w-100 form-btn-submit">Add Card
                                </button>
                            </form>
                        {{/gt}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

{{#gt user.sub_level 1000}}
    <script>
        $(function () {
            // Handle form submission.
            $('#forget-card-form').submit(function (event) {
                event.preventDefault();
                $(".form-btn-submit", this).addClass('is-loading');
                $(".form-btn-submit", this).attr('disabled', 'disabled');
                var form = this;
                $.postJSON('{{config.authAPIBaseURL}}/me/credits/unenroll', {}, function (data) {
                    refreshJWT(function () {
                        window.location.reload();
                    });
                }, function (err) {
                    $(".form-btn-submit", form).removeClass('is-loading');
                    $(".form-btn-submit", form).attr('disabled', false);
                });
            });
            $('#purchase-coins-form').submit(function (event) {
                event.preventDefault();
                $(".form-btn-submit", this).addClass('is-loading');
                $(".form-btn-submit", this).attr('disabled', 'disabled');
                var form = this;
                $.postJSON('{{config.authAPIBaseURL}}/me/credits/purchase?purchaseN='+$("[type='number']", this).val(), {}, function (data) {
                    refreshJWT(function () {
                        window.location.reload();
                    });
                }, function (err) {
                    $(".form-btn-submit", form).removeClass('is-loading');
                    $(".form-btn-submit", form).attr('disabled', false);
                });
            });
        });
    </script>
{{else}}
    <script>
        $(function () {

            // Create a Stripe client.
            var stripe = Stripe('{{config.stripePubKey}}');

            // Create an instance of Elements.
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
                base: {
                    color: '#32325d',
                    lineHeight: '18px',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            // Create an instance of the card Element.
            var card = elements.create('card', {style: style});

            // Add an instance of the card Element into the `coins-card-element` <div>.
            card.mount('#coins-card-element');

            // Handle real-time validation errors from the card Element.
            card.addEventListener('change', function (event) {
                var displayError = document.getElementById('coins-card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            function stripeTokenHandler(tkn) {
                $.postJSON('{{config.authAPIBaseURL}}/me/credits/enroll', {
                    stripeToken: {token: tkn}
                }, function (data) {
                    refreshJWT(function () {
                        window.location.reload();
                    });
                });
            }

            // Handle form submission.
            $('#coins-card-form').submit(function (event) {
                event.preventDefault();
                $(".form-btn-submit", this).addClass('is-loading');
                $(".form-btn-submit", this).attr('disabled', 'disabled');
                var form = this;
                stripe.createToken(card).then(function (result) {
                    if (result.error) {
                        $(".form-btn-submit", form).removeClass('is-loading');
                        $(".form-btn-submit", form).attr('disabled', false);
                        // Inform the user if there was an error.
                        var errorElement = document.getElementById('coins-card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server.
                        stripeTokenHandler(result.token);
                    }
                }, function (reject) {
                    $(".form-btn-submit", form).removeClass('is-loading');
                    $(".form-btn-submit", form).attr('disabled', false);
                });
            });
        });
    </script>
{{/gt}}
