<style>
    @media (max-width: 768px) {
        #modalCheckout .btn-sm-w-100 {
            width: 100%;
        }
    }
    #checkout-purchase-headline-wrapper {
        margin-top: 2px;
    }

    #checkout-shipping-form label {
        margin-top: 6px;
    }
</style>

<!-- Modal: Billing -->
<div class="modal fade" id="modalCheckout" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-card card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                Complete Checkout
                            </h4>
                            <div id="checkout-purchase-headline-wrapper">
                                <small id="checkout-purchase-headline" class="text-secondary">

                                </small>
                            </div>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>

                <div class="card-body">
                    <div class="col text-center">
                        <h2 style="margin-bottom: 10px;">Be Amazing With EXLskills 🎓</h2>
                    </div>
                    {{#gt user.coins 0}}
                        <!-- Coins Balance -->
                        <div>
                            <div class="mb-3 text-center">
                                <strong><span class="text-info" data-toggle="tooltip" data-placement="top"
                                                        title=""
                                                        data-original-title="Coins pay for certificates, live courses, and 1-on-1 training"><span id="you-will-save-with-coins"></span><span class="fe fe-help-circle mr-4"></span></span></strong>
                            </div>

                            <!--<div class="card bg-light border">-->
                            <!--<div class="card-body">-->
                            <!--Your balance: <strong>0 Coins</strong>-->
                            <!--</div>-->
                            <!--</div>-->

                        </div>
                    {{/gt}}
                    <div class="col text-center">
                        <img src="/learn-en/assets/img/illustrations/happiness.svg" alt="..." class="img-fluid mb-4" style="max-width: 180px;">
                    </div>
                    {{#if user.is_demo}}
                        <div class="card bg-light border">
                            <div class="card-body text-center">
                                <strong>
                                    <a id="checkout-login-link" href="#">Sign Up or Login to Complete Checkout</a>
                                </strong>
                            </div>
                        </div>
                    {{else}}
                        <form id="checkout-shipping-form" style="display: none;">
                            <h4>Shipping Information</h4>

                            <label for="checkout-shipping-form-full-name">Full Name</label>
                            <input class="form-control" id="checkout-shipping-form-full-name" type="text" required>

                            <label for="checkout-shipping-form-addr-1">Address Line 1</label>
                            <input class="form-control" id="checkout-shipping-form-addr-1" type="text" required>

                            <label for="checkout-shipping-form-addr-2">Address Line 2 (Optional)</label>
                            <input class="form-control" id="checkout-shipping-form-addr-2" type="text">

                            <label for="checkout-shipping-form-country">Country</label>
                            <select id="checkout-shipping-form-country" class="form-control" data-toggle="select">
                                <option>United States of America</option>
                                <option>Canada</option>
                            </select>

                            <label for="checkout-shipping-form-city">City</label>
                            <input class="form-control" id="checkout-shipping-form-city" type="text" required>

                            <label for="checkout-shipping-form-state">State/Province</label>
                            <input class="form-control" id="checkout-shipping-form-state" type="text" required>

                            <label for="checkout-shipping-form-zip-code">Zip/Postal Code</label>
                            <input class="form-control" id="checkout-shipping-form-zip-code" type="text" minlength="5" required>
                            <br />
                        </form>
                        <div>
                            <form style="display: none;" id="complete-checkout-form">
                                <button type="submit" class="btn btn-primary w-100 text-center form-btn-submit"><span class="checkout-pay-msg"></span> </button>
                            </form>
                        </div>
                        {{#lt user.sub_level 1000}}
                            <form style="display: none;" id="checkout-card-form">
                                <div class="">
                                    <label for="checkout-card-element">
                                        <span data-toggle="tooltip" data-placement="top" title=""
                                              data-original-title="Your card will be charged only for purchases you make on EXLskills. You can remove it at any time.">Credit or Debit Card <span
                                                class="fe fe-help-circle mr-4"></span></span>
                                    </label>
                                    <div id="checkout-card-element">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>

                                    <!-- Used to display form errors. -->
                                    <div id="checkout-card-errors" role="alert" class="text-danger"></div>
                                </div>

                                <button type="submit"
                                        class="btn btn-primary float-right mt-4 w-100 form-btn-submit">Add Card &amp; <span class="checkout-pay-msg"></span>
                                </button>
                            </form>
                        {{/lt}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getCheckoutItem() {
        return JSON.parse(decodeURIComponent(window.location.hash.replace('#!modalCheckout=', '')));
    }

    function renderShippingInfoForm(item) {
      var $shippingForm = $('#checkout-shipping-form');
      if (!item.requireShippingInfo) {
        $shippingForm.hide();
        return;
      }
      $shippingForm.show();
    }

    function getShippingInfoFromForm() {
      var $shippingForm = $('#checkout-shipping-form');
      if (!document.getElementById('checkout-shipping-form').reportValidity()) {
        return {valid: false}
      }
      var shipping_info = {
          country: $('#checkout-shipping-form-country').val(),
          full_name: $('#checkout-shipping-form-full-name').val(),
          addr_1: $('#checkout-shipping-form-addr-1').val(),
          addr_2: $('#checkout-shipping-form-addr-2').val(),
          city: $('#checkout-shipping-form-city').val(),
          state: $('#checkout-shipping-form-state').val(),
          zip_code: $('#checkout-shipping-form-zip-code').val(),
          valid: true
      };
      console.log("Shipping info", shipping_info);
      return shipping_info
    }
</script>
<script>
    $(function() {
        $('#modalCheckout').on('show.bs.modal', function() {
            $('#checkout-login-link').attr('href', '{{config.authAPIBaseURL}}/auth/keycloak?redirect='+encodeURIComponent(window.location.href));
            var item = getCheckoutItem();
            if (!{{user.is_demo}}) {
                if ({{user.sub_level}} < 1000) {
                    if (item.quantity*item.displayUnitCost <= {{user.coins}}) {
                        $('#complete-checkout-form').show();
                        $('#checkout-card-form').hide();
                    } else {
                        $('#checkout-card-form').show();
                        $('#complete-checkout-form').hide();
                    }
                } else {
                    $('#complete-checkout-form').show();
                    $('#checkout-card-form').hide();
                }
            }
            $('#checkout-purchase-headline').text(item.quantity + " x " + item.displayName);
            var extraCost = (item.quantity * item.displayUnitCost) - {{user.coins}};
            if (extraCost < 0) {
                extraCost = 0;
            }
            $('#you-will-save-with-coins').text('🎉 You\'ll Save $' + ((item.quantity * item.displayUnitCost)-extraCost) + ' with your EXLskills Coins! ');
            if (extraCost === 0) {
                $('#modalCheckout .checkout-pay-msg').text("Purchase for FREE");
            } else {
                $('#modalCheckout .checkout-pay-msg').text("Pay $" + extraCost);
            }

            renderShippingInfoForm(item);
        });
    });
</script>
<script>
    function completeCheckoutForModal(errCallback) {
        // TODO check if we need shipping details, if so get them. Check that shipping_info.valid and then delete that extra field.
        var item = getCheckoutItem();
        if (item.requireShippingInfo) {
            item.options.shipping_info = getShippingInfoFromForm();
            if (!item.options.shipping_info.valid) {
                // TODO Show the user an error toast and fail out
                console.error("Shipping info is NOT valid");
                return;
            }
            delete item.options.shipping_info.valid;
        }
        $.postJSON('{{config.authAPIBaseURL}}/purchase', {item: item}, function (data) {
            refreshJWT(function () {
                window.localStorage.setItem('toastOnLoad', JSON.stringify({intent: 'success', message: 'Thank you for your purchase! You will receive an email with your order confirmation and all further instructions as necessary.'}));
                window.location.hash = '';
                window.location.reload();
            });
        }, function (err) {
            errCallback(err);
        });
    }
</script>
{{#gt user.sub_level 1000}}
    <script>
        $(function () {
            $('#complete-checkout-form').submit(function (event) {
                event.preventDefault();
                $(".form-btn-submit", this).addClass('is-loading');
                $(".form-btn-submit", this).attr('disabled', 'disabled');
                var form = this;
                completeCheckoutForModal(function (err) {
                    $(".form-btn-submit", form).removeClass('is-loading');
                    $(".form-btn-submit", form).attr('disabled', false);
                });
            });
        });
    </script>
{{else}}
    <script>
        $(function () {

            // Create a Stripe client.
            var stripe = Stripe('{{config.stripePubKey}}');

            // Create an instance of Elements.
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
                base: {
                    color: '#32325d',
                    lineHeight: '18px',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            // Create an instance of the card Element.
            var card = elements.create('card', {style: style});

            // Add an instance of the card Element into the `checkout-card-element` <div>.
            card.mount('#checkout-card-element');

            // Handle real-time validation errors from the card Element.
            card.addEventListener('change', function (event) {
                var displayError = document.getElementById('checkout-card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            // Handle form submission.
            $('#checkout-card-form').submit(function (event) {
                event.preventDefault();
                $(".form-btn-submit", this).addClass('is-loading');
                $(".form-btn-submit", this).attr('disabled', 'disabled');
                var form = this;
                stripe.createToken(card).then(function (result) {
                    if (result.error) {
                        $(".form-btn-submit", form).removeClass('is-loading');
                        $(".form-btn-submit", form).attr('disabled', false);
                        // Inform the user if there was an error.
                        var errorElement = document.getElementById('checkout-card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server.
                        $.postJSON('{{config.authAPIBaseURL}}/me/credits/enroll', {
                            stripeToken: {token: result.token}
                        }, function (data) {
                            refreshJWT(function () {
                                completeCheckoutForModal(function (err) {
                                    $(".form-btn-submit", form).removeClass('is-loading');
                                    $(".form-btn-submit", form).attr('disabled', false);
                                });
                            });
                        });
                    }
                }, function (reject) {
                    $(".form-btn-submit", form).removeClass('is-loading');
                    $(".form-btn-submit", form).attr('disabled', false);
                });
            });
        });
    </script>
{{/gt}}
