<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
    <!-- Card -->
    <div class="card" style="height: calc(100% - 20px);">
        <a href="/learn-{{locale}}/projects/{{project.url_id}}{{trailingPath}}" class="spf-link">
            <div style="height: 180px;background: url({{project.logo_url}});background-size: cover;"></div>
        </a>
        <div class="card-body text-center d-flex flex-column justify-content-between">
            <a href="/learn-{{locale}}/projects/{{project.url_id}}{{trailingPath}}" class="spf-link avatar avatar-xl card-avatar card-avatar-top">
                <img src="{{project.badge_url}}" class="course-badge avatar-img rounded-circle border border-4 border-card"
                     alt="...">
            </a>
            <h2 class="card-title">
                <a href="/learn-{{locale}}/projects/{{project.url_id}}{{trailingPath}}" class="spf-link">{{project.title}}</a>
            </h2>
            <p class="card-text text-muted text-center">
                <small>
                    {{project.headline}}
                </small>
            </p>
            <hr>
            <div class="row">
                <div class="col-auto">
                    <small>
                        <span class="fe fe-clock"></span> {{project.est_minutes_text}}
                    </small>
                    <span class="badge badge-primary">
                        {{project.primary_topic}}
                    </span>
                    <span class="badge badge-secondary">
                        {{project.skill_level_text}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>