<style>
    .cc-nav-item {

    }
</style>
<div class="container-fluid">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">
        <!-- Course Sidebar -->
        {{#if data.course}}
            <!-- Heading -->
            <h6 class="navbar-heading text-muted">
                {{data.course.meta.title}}
            </h6>

            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                {{#if data.course.meta.instructor_timekit.intervals}}
                    <li class="nav-item">
                        <a class="text-primary nav-link spf-link {{#eq contentTmpl "course_help"}}active{{/eq}}" href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/help">
                            <i class="fe fe-help-circle"></i> {{intlGet "messages.help.get_help_label"}} ✋
                        </a>
                    </li>
                {{/if}}
                <li class="cc-nav-item nav-item">
                    <a class="nav-link spf-link {{#eq contentTmpl "course_content"}}active{{/eq}}" href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/content">
                        <i class="fe fe-book"></i> {{intlGet "messages.course.label"}}
                    </a>
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a class="nav-link spf-link {{#eq contentTmpl "course_index"}}active{{/eq}}" href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}">
                                {{intlGet "messages.course.overview_label"}} <span style="font-size: 12px;" class="ml-2 fe {{#if data.course.isEnrolled}}fe-check text-success{{/if}}"></span>
                            </a>
                        </li>
                        {{#each data.course.units}}
                            <li class="nav-item">
                                <a href="#sb-course-unit-{{url_id}}" class="nav-link" data-toggle="collapse" role="button" aria-expanded="{{#eq url_id ../route.params.unitId}}true{{/eq}}" aria-controls="sb-course-unit-{{url_id}}">
                                    {{title}} <span style="font-size: 12px;" class="ml-2 fe {{#gt ema 80}}fe-check text-success{{else}}{{#gt ema 0}}fe-refresh-ccw text-warning{{/gt}}{{/gt}}"></span>
                                </a>
                                <div class="collapse {{#eq url_id ../route.params.unitId}}show{{/eq}}" id="sb-course-unit-{{url_id}}">
                                    <ul class="nav nav-sm flex-column">
                                        {{#each sections_list}}
                                            <li class="nav-item">
                                                <h6 class="nav-link navbar-heading text-muted m-0">
                                                    <a href="/learn-{{../../route.locale}}/courses/{{../../data.course.meta.url_id}}/{{../url_id}}/{{url_id}}/{{first_card_url_id}} " class="spf-link">
                                                    {{title}}
                                                    </a>
                                                </h6>
                                                {{#each cards_list}}
                                                    <a href="/learn-{{../../../route.locale}}/courses/{{../../../data.course.meta.url_id}}/{{../../url_id}}/{{../url_id}}/{{url_id}} " class="spf-link nav-link {{#eq url_id ../../../route.params.cardId}}active{{/eq}}">
                                                        <span class="{{#gt ema 80}}text-success{{else}}{{#gt ema 0}}text-warning{{/gt}}{{/gt}}">●</span> <div class="ml-2">{{title}}</div>
                                                    </a>
                                                {{/each}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </li>
                <!-- Course Progress Removed until/if exams are implemented, otherwise useless
                <li class="nav-item">
                    <a class="nav-link spf-link {{#eq contentTmpl "course_progress"}}active{{/eq}}" href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/progress">
                        <i class="fe fe-trending-up"></i> {{intlGet "messages.course.progress_label"}}
                    </a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link spf-link {{#eq contentTmpl "course_certificate"}}active{{/eq}}" href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/certificate">
                        <i class="fe fe-award"></i> {{intlGet "messages.certificate.label"}}
                    </a>
                </li>
                {{#if data.course.meta.has_live_mode}}
                <li class="nav-item">
                    <a class="nav-link spf-link {{#eq contentTmpl "course_live"}}active{{/eq}}" href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/live">
                        <i class="fe fe-radio"></i> {{intlGet "messages.class.live_class_label"}}
                    </a>
                </li>
                {{/if}}
            </ul>
        {{/if}}

        <!-- Divider -->
        <hr class="my-3">

        <!-- Heading -->
        <h6 class="navbar-heading text-muted">
            {{intlGet "messages.config.label"}}
        </h6>

        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
                <div class="nav-link text-muted">
                    <i class="fe fe-sun"></i> {{intlGet "messages.config.night_mode_label"}}
                    <div class="custom-control custom-checkbox-toggle ml-auto">
                        <input type="checkbox" class="custom-control-input" id="theme-mode-toggle">
                        <label class="custom-control-label" for="theme-mode-toggle"></label>
                    </div>
                </div>
            </li>
        </ul>

    </div> <!-- / .navbar-collapse -->

</div> <!-- / .container-fluid -->
