<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex">
    <div class="container-fluid">

        <!-- Brand -->
        <div id="topbar-title" class="navbar-brand mr-auto">
            {{meta.title}}
        </div>

        <style>
            .topbar-coins-manager {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                border-radius: 15px;
                background-clip: border-box;
                margin-right: 24px;
            }
            .topbar-coins-manager input {
                border: none;
            }
            .topbar-coins-manager input {
                background-color: rgb(235, 240, 245) !important;
                color: #12263f !important;
                cursor: pointer;
                margin-right: -20px;
                width: 100px !important;
                font-weight: 500 !important;
            }
            .topbar-coins-manager .input-group-text {
                background-color: rgb(226, 15, 109) !important;
                color: white;
                cursor: pointer;
                border-radius: 50% !important;
                width: 40px;
                z-index: 2;
                padding-left: 12px !important;
            }
        </style>

        <div href="#!modalManageCoins" class="topbar-coins-manager">
            <div class="row text-center align-items-center">
                <div class="input-group input-group-rounded input-group-merge">
                    <!-- Input -->
                    <input type="search" class="form-control form-control-appended search" value="💰 {{user.coins}}" aria-label="💰 {{user.coins}}">
                    <div class="input-group-append">
                        <div class="input-group-text align-items-center text-center align-items-baseline">
                            <div>
                                <span class="fe fe-box"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- User -->
        <div class="navbar-user">
            {{#if user.is_demo}}
                <a href="{{config.authAPIBaseURL}}/auth/keycloak?redirect={{encodeURI route.url}}" class="btn btn-success">Login / Sign Up</a>
            {{else}}
                <!-- Dropdown -->
                <div class="dropdown">

                    <!-- Toggle -->
                    <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{user.avatar_url}}" alt="..." class="avatar-img rounded-circle">
                    </a>

                    <!-- Menu -->
                    <div class="dropdown-menu dropdown-menu-right">
                        <a target="_blank" rel="noopener" href="{{{config.accountsURL}}}" class="dropdown-item">Profile</a>
                        <!-- TODO <a href="settings.html" class="dropdown-item">Settings</a>-->
                        <hr class="dropdown-divider">
                        <a href="#!" class="dropdown-item user-logout-btn">Logout</a>
                    </div>

                </div>
            {{/if}}

        </div>

    </div> <!-- / .container-fluid -->
</nav>
<script>
    $(function() {
        $('.topbar-coins-manager input').focus(function(e) {
            $(this).blur();
        });
        $('.topbar-coins-manager').click(function(e) {
          window.location.hash = '#!modalManageCoins=true';
        })
    });
</script>