<nav id="topbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">

        <!-- Toggler -->
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand mr-auto spf-link d-lg-none" href="/learn-{{route.locale}}/dashboard">
            <img src="{{config.static_assets_url_prefix}}/img/logo-exlskills.svg" alt="EXLskills" class="navbar-brand-img">
        </a>

        <style>
            @media (max-width: 991px) {
                .topbar-coins-manager {
                    display: none !important;
                }
            }
            .topbar-coins-manager {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                border-radius: 15px;
                background-clip: border-box;
                margin-right: 24px;
            }
            .topbar-coins-manager input {
                border: none;
            }
            .topbar-coins-manager input {
                background-color: rgb(235, 240, 245) !important;
                color: #12263f !important;
                cursor: pointer;
                margin-right: -20px;
                width: 100px !important;
                font-weight: 500 !important;
            }
            .topbar-coins-manager .input-group-text {
                background-color: rgb(226, 15, 109) !important;
                color: white;
                cursor: pointer;
                border-radius: 50% !important;
                width: 40px;
                z-index: 2;
                padding-left: 12px !important;
            }
        </style>

        <div href="#!modalManageCoins" class="topbar-coins-manager">
            <div class="row text-center align-items-center">
                <div class="input-group input-group-rounded input-group-merge">
                    <!-- Input -->
                    <input type="search" class="form-control form-control-appended search" value="💰 {{user.coins}}" aria-label="💰 {{user.coins}}">
                    <div class="input-group-append">
                        <div class="input-group-text align-items-center text-center align-items-baseline">
                            <div>
                                <span class="fe fe-box"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- User (xs) -->
        <div class="navbar-user">
            {{#if user.is_demo}}
                <a href="#!modalAuthenticate" class="btn btn-success">{{intlGet "messages.misc.login_label"}} / {{intlGet "messages.marketing.sign_up_label"}}</a>
            {{else}}
                <!-- Dropdown -->
                <div class="dropdown">

                    <!-- Toggle -->
                    <a href="#!" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-sm avatar-online">
                            <img src="{{user.avatar_url}}" class="avatar-img rounded-circle" alt="...">
                        </div>
                    </a>

                    <!-- Menu -->
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIcon">
                        <!-- TODO bring back profile once we have one internally (w/o keycloak) -->
                        <!--<a href="{{{config.accountsURL}}}" class="dropdown-item">{{intlGet "messages.instructors.profile_label"}}</a>-->
                        <!-- TODO <a href="settings.html" class="dropdown-item">{{intlGet "messages.config.settings_label"}}</a>-->
                        <!--<hr class="dropdown-divider">-->
                        <a href="#!" class="dropdown-item user-logout-btn">{{intlGet "messages.misc.logout_label"}}</a>
                    </div>

                </div>
            {{/if}}
        </div>

        <!-- Collapse -->
        <div id="navbar" class="collapse navbar-collapse mr-auto order-lg-first">

            <!-- Navigation -->
            <ul class="navbar-nav mr-auto">
                <a style="display: none;width: 160px;" class="navbar-brand m-auto spf-link d-lg-block" href="/learn-{{route.locale}}/dashboard">
                    <img style="padding-right: 18px;margin-top: -2px;max-height: none;" src="{{config.static_assets_url_prefix}}/img/logo-exlskills.svg" alt="EXLskills">
                </a>
                <li class="nav-item">
                    <a class="nav-link spf-link {{#eq contentTmpl "dashboard"}}active{{/eq}}" href="/learn-{{route.locale}}/dashboard">
                        <i class="fe fe-home"></i> {{intlGet "messages.dashboard.label"}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link spf-link {{#eq contentTmpl "courses"}}active{{/eq}}" href="/learn-{{route.locale}}/courses">
                        <i class="fe fe-zap"></i> {{intlGet "messages.course.open_courses_label"}}
                    </a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link spf-link {{#eq contentTmpl "digital_diplomas"}}active{{/eq}}" href="/learn-{{route.locale}}/digital-diplomas">-->
                <!--<i class="fe fe-star"></i> {{intlGet "messages.digital_diplomas.label"}}-->
                <!--</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link spf-link {{#eq contentTmpl "projects"}}active{{/eq}}" href="/learn-{{route.locale}}/projects">
                        <i class="fe fe-package"></i> {{intlGet "messages.guided_projects.label"}}
                    </a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link spf-link {{#eq contentTmpl "instructors"}}active{{/eq}}" href="/learn-{{route.locale}}/instructors">-->
                <!--<i class="fe fe-users"></i> {{intlGet "messages.instructors.live_label"}}-->
                <!--</a>-->
                <!--</li>-->
                <li class="nav-item d-lg-none">
                    <a onclick="$('#navbar').removeClass('show');" class="nav-link" href="#!modalManageCoins">
                        <span class="fe fe-box"></span> ${{user.coins}} {{intlGet "messages.coins.label"}}
                    </a>
                </li>
            </ul>

        </div>

    </div> <!-- / .container -->
</nav>

<script>
    $(function() {
        $('.topbar-coins-manager input').focus(function(e) {
            $(this).blur();
        });
        $('.topbar-coins-manager').click(function(e) {
          window.location.hash = '#!modalManageCoins=true';
        })
    });
</script>
