<style>
    #course-card-body pre code {
        border-radius: 5px;
        padding: 1.5rem;
    }
    #course-card-body iframe {
        border: none;
        margin-top: 24px;
        margin-bottom: 20px;
        background: #000
        url(https://s3-us-west-2.amazonaws.com/exlskills-misc-assets/iframe-loading.gif)
        center center no-repeat;
    }
    #course-content-card-wrapper .card-bottom-nav {
        margin: auto;
        padding-bottom: 8px;
    }
    @media (max-width: 768px) {
        /* Add margin when mobile to avoid conflict with the intercom overlay */
        #course-content-card-wrapper .card-bottom-nav {
            padding-bottom: 72px;
        }
    }
</style>

<br />

<!-- CONTENT -->
<div id="course-content-card-wrapper" class="container-fluid">
    <div class="row align-items-center">
        <!-- Title -->
        <div class="col">
            <h4 class="">
                {{data.course.nav.currentSection.title}}
            </h4>
        </div>
        <div class="col-auto">
            {{> course-card-pagination}}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <!-- Title -->
            <h1 class="card-header-title">
                {{data.course.card.title}}
            </h1>
        </div>
        <div id="course-card-body" class="card-body">
            {{{data.course.card.content.content}}}
        </div>
    </div>
    {{#if data.course.card.question}}
    <div class="card">
        <div class="card-header">
            <!-- Title -->
            <h4 class="card-header-title">
                Application Question
            </h4>
        </div>
        <div id="course-card-body" class="card-body">
            {{> quiz-question data.course.card.question}}
        </div>
    </div>
    {{/if}}
    <div class="row align-items-center">
        <div class="col-auto card-bottom-nav">
            {{> course-card-pagination}}
        </div>
    </div>
</div>

<script>
    $(function() {
        wsusi.sendNotification('card.action', {
            action: "view",
            card_id: "{{{data.course.card.id}}}",
            course_id: "{{{data.course.meta.id}}}",
            section_id: "{{{data.course.nav.currentSection.id}}}",
            unit_id: "{{{data.course.nav.currentUnit.id}}}",
            user_id: "{{{user.id}}}"
        });
    });
</script>
