{{> course-top}}

<style>
    #course-live-content .collapse-toggle[data-toggle=collapse]:after {
        font-family: Feather;
        display: block;
        margin-left: auto;
        content: "\e92e";
        transition: all .2s ease-in-out;
        color: #95aac9;
    }
    #course-live-content .collapse-toggle[data-toggle=collapse][aria-expanded=true]:after {
        transform: rotate(-180deg);
    }
    #course-live-content .instructor-title {
        font-weight: 500;
        font-size: 20px;
    }
</style>

<br/>
<!-- CONTENT -->
<div id="course-live-content" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            {{#gt data.sched.scheduled_runs.length 0}}
                <div class="card">
                    <div class="card-header">
                        <!-- Title -->
                        <h4 class="card-header-title">
                            {{intlGet "messages.course.learn_it_live"}}
                        </h4>
                    </div>
                    <div class="card-body">
                        {{{markdown data.sched.course_notes}}}
                    </div>
                </div>
            {{else}}
                <div class="col-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body text-center">

                            <!-- Image -->
                            <img src="/learn-en/assets/img/illustrations/meditate.svg" alt="..." class="img-fluid mb-4" style="max-width: 212px;">

                            <!-- Title -->
                            <h1>
                                {{intlGet "messages.course.classes_full"}}
                            </h1>

                            <!-- Subtitle -->
                            <p class="text-muted">
                                {{intlGet "messages.course.meantime_start_at_own_pace"}} 🎓
                            </p>

                            <p class="text-muted mb-4">
                                {{intlGet "messages.course.remember_to_check_back"}}
                            </p>

                            <!-- Button -->
                            <a href="/learn-{{route.locale}}/courses/{{data.course.meta.url_id}}/content" class="spf-link btn btn-primary">
                                {{intlGet "messages.course.view_free_course"}}
                            </a>

                        </div>
                    </div>

                </div>
            {{/gt}}
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.certificate.level_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{data.course.meta.skill_level_text}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.class.class_duration_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                ~ {{data.sched.course_duration}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    {{#gt data.sched.scheduled_runs.length 0}}
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.class.hrs_of_instr_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                ~ {{data.sched.total_hours}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>
                    {{/gt}}

                    {{#if data.course.meta.verified_cert_cost}}
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Title -->
                                <h5 class="mb-0">
                                    {{intlGet "messages.class.location_label"}}
                                </h5>

                            </div>
                            <div class="col-auto">

                                <small class="text-muted">
                                    {{intlGet "messages.class.loc_online_remote_av"}}
                                </small>

                            </div>
                        </div> <!-- / .row -->

                        <!-- Divider -->
                        <hr>
                    {{/if}}

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.languages.label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{intlGet "messages.languages.en"}}
                            </small>

                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            {{#gt data.sched.scheduled_runs.length 0}}
                {{#each data.sched.scheduled_runs}}
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Title -->
                                    <h4 class="card-header-title">
                                        <span class="mtz-LL" data-time="{{run_start_date}}"></span>
                                        <span class="text-secondary ml-1" style="font-weight: 100;">
                                        {{length run_sessions}} {{intlGet "messages.class.sessions_label_caps"}}
                                    </span>
                                    </h4>
                                </div>
                                <div class="col-auto">
                                    {{#if seat_purchased}}
                                        <div class="text-success">{{intlGet "messages.class.registered_see_email"}}</div>
                                    {{else}}
                                        <strong>Price: ${{offered_at_price.amount}}</strong>
                                        <a href="#!modalCheckout={{{encodeURI purchase_item_json}}}" class="btn btn-sm btn-danger ml-1">{{intlGet "messages.class.register_label"}}</a>
                                    {{/if}}
                                </div>
                                <a class="collapse-toggle" href="#live-run-container-{{_id}}" data-toggle="collapse" role="button" aria-expanded="{{#if soonest_run}}true{{else}}false{{/if}}" aria-controls="live-run-container-{{_id}}"></a>
                            </div>
                        </div>
                        <div id="live-run-container-{{_id}}" class="collapse {{#if soonest_run}}show{{/if}}">
                            <div class="card-body">
                                <ul>
                                    {{#each run_sessions}}
                                        <li>{{intlGet "messages.class.session_label"}} {{session_seq}} - <span class="mtz-LLLL" data-time="{{session_start_date}}"></span> <span class="mtz-z"></span> <span class="text-secondary">{{session_duration_hrs}} {{intlGet "messages.course.hours_label_p"}}</span></li>
                                        <span class="text-secondary">{{session_notes}}</span>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/each}}
                <div class="card">
                    <div class="card-header">
                        <!-- Title -->
                        <h4 class="card-header-title">
                            {{intlGet "messages.instructors.label"}}
                        </h4>
                    </div>
                    <div class="card-body">
                        {{#each data.sched.instructors}}
                            <div class="mb-4">
                                <div class="row align-items-center">
                                    <div class="col-auto">

                                        <!-- Avatar -->
                                        <div class="avatar avatar-xxl">
                                            <img src="{{avatar_url}}" alt="..." class="avatar-img rounded-circle">
                                        </div>

                                    </div>
                                    <div class="col ml--2">

                                        <!-- Title -->
                                        <h3 class="card-title mb-1">
                                            {{full_name}}
                                        </h3>

                                        <!-- Text -->
                                        <h5 class="card-text small text-muted mb-1">
                                            {{headline}}
                                        </h5>

                                        <!-- Status -->
                                        <p class="card-text small">
                                            {{biography}}
                                        </p>

                                    </div>

                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/gt}}

        </div>
        <div class="col-12 col-lg-4">

        </div>
    </div>
    <br />
    <br />
    <br />
</div>

<script>
    $(function() {
        $('#course-live-content .mtz-LL').each(function() {
            $(this).text(moment(
                    $(this).data('time'),
                    "{{config.liveCourseScheduleMomentParseFmt}}"
            ).format('LL'))
        });
        $('#course-live-content .mtz-LLLL').each(function() {
            $(this).text(moment(
                    $(this).data('time'),
                    "{{config.liveCourseScheduleMomentParseFmt}}"
            ).format('LLLL'));
        });
        $('#course-live-content .mtz-z').each(function() {
            $(this).text(moment().tz(Intl.DateTimeFormat().resolvedOptions().timeZone).format('z'));
        });
    });
</script>
