{{> course-top}}

<style>

</style>

<!-- CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        Course Overview
                    </h4>
                </div>
                <div class="card-body">
                    <p>
                        {{data.course.meta.description}}
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        Syllabus
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <strong>
                                <ol>
                                    {{#each data.course.units}}
                                        <a class="spf-link" href="/learn-{{../route.locale}}/courses/{{../data.course.meta.url_id}}/{{url_id}}/{{first_section_url_id}}/{{first_card_url_id}}">
                                            <li>{{title}}</li>
                                        </a>
                                        <br />
                                    {{/each}}
                                </ol>
                            </strong>
                        </div>
                        <div class="col-12 col-lg-6">
                            {{data.course.meta.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <!-- Card -->
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Price
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                FREE!
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Level
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{data.course.meta.skill_level_text}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Duration
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                ~ {{data.course.meta.est_minutes_text}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    {{#if data.course.meta.verified_cert_cost}}
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Title -->
                                <h5 class="mb-0">
                                    Certificate
                                </h5>

                            </div>
                            <div class="col-auto">

                                <small class="text-muted">
                                    ${{data.course.meta.verified_cert_cost}} Coins
                                </small>

                            </div>
                        </div> <!-- / .row -->

                        <!-- Divider -->
                        <hr>
                    {{/if}}

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Languages
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                English
                            </small>

                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
            <!-- Weekly Hours -->
            <div class="card">
                <div class="card-header">

                    <!-- Title -->
                    <h4 class="card-header-title">
                        Weekly Hours
                    </h4>

                </div>
                <div class="card-body">

                    <!-- Chart -->
                    <div class="chart chart-sm">
                        <canvas id="weeklyHoursChart" class="chart-canvas"></canvas>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        <span class="text-danger">●</span> Learn it LIVE!
                    </h4>
                </div>
                <div class="card-body">
                    <p>
                        {{data.course.meta.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>