{{> course-top}}

<style>

</style>

<br/>
<!-- CONTENT -->
<div id="course-certificate-content" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <a class="btn btn-primary w-100 mb-4 d-xl-none d-lg-none d-md-none" href="#!modalCheckout={{{encodeURI data.checkoutItemJSON}}}">
                Purchase Certificate
            </a>
            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        {{intlGet "messages.certificate.get_get"}}
                    </h4>
                </div>
                <div class="card-body">
                    {{{markdown data.certInfoMD}}}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <a class="btn btn-primary w-100 mb-4" href="#!modalCheckout={{{encodeURI data.checkoutItemJSON}}}">
                {{intlGet "messages.certificate.get_get"}}
            </a>
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.certificate.price_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                ${{data.course.meta.verified_cert_cost}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.certificate.level_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{data.course.meta.skill_level_text}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.certificate.id_verification"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{intlGet "messages.certificate.mandatory"}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.exam.label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{intlGet "messages.exam.proctored_online_45_90"}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.exam.interview_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{intlGet "messages.exam.online_call_30"}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.languages.label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{intlGet "messages.languages.en"}}
                            </small>

                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        {{intlGet "messages.help.faq_label"}}
                    </h4>
                </div>
                <div class="card-body">
                    {{{markdown data.certFaqMD}}}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                {{intlGet "messages.help.have_qs"}}
                            </h4>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{intlGet "messages.help.reach_via"}} <a id="c-cert-live-chat-help" href="#!">{{intlGet "messages.help.live_chat_here"}}</a>
                    <script>
                        $(function() {
                            $('#c-cert-live-chat-help').click(function() {
                                Intercom('show');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">

        </div>
    </div>
    <br />
    <br />
    <br />
</div>
