<style>
    .course-card-body pre code {
        border-radius: 5px;
        padding: 1.5rem;
    }
    .course-card-body iframe {
        border: none;
        margin-top: 24px;
        margin-bottom: 20px;
        background: #000
        url(https://s3-us-west-2.amazonaws.com/exlskills-misc-assets/iframe-loading.gif)
        center center no-repeat;
    }
    .course-card-body label {
        width: 100%;
    }
    #course-content-card-wrapper .card-bottom-nav {
        margin: auto;
        padding-bottom: 8px;
    }
    @media (max-width: 768px) {
        /* Add margin when mobile to avoid conflict with the intercom overlay */
        #course-content-card-wrapper .card-bottom-nav {
            padding-bottom: 72px;
        }
    }
</style>

{{>course-card-banner}}

<!-- CONTENT -->
<div id="course-content-card-wrapper" class="container-fluid">
    <div class="row align-items-center">
        <!-- Title -->
        <div class="col">
            <h4 class="">
                {{data.course.nav.currentSection.title}}
            </h4>
        </div>
        <div class="col-auto">
            {{> course-card-pagination}}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col" style="margin: 8px 0;">
                    <!-- Title -->
                    <h1 class="card-header-title">
                        {{data.course.card.title}}
                    </h1>
                </div>
                <div class="col-auto" style="margin: 8px 0;">
                    <a id="cc-live-chat-help" class="btn btn-sm btn-info" href="#!"> 🙋 Need help? Ask an expert now!</a>
                    <script>
                        $(function() {
                            $('#cc-live-chat-help').click(function() {
                                Intercom('showNewMessage', '🙋‍ Hi there, can you help with me with the ' + '{{{data.course.meta.title}}}' + ' Course?\n\nI\'m on the ' + '{{{data.course.card.title}}}' + ' part (' + '{{{route.canonicalUrl}}}' + ') and would really appreciate your time helping me!\n\nPlease type your question here and then send your message ⚡')
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="card-body course-card-body">
            <article>
                {{{data.course.card.content.content}}}
            </article>
        </div>
    </div>
    {{#if data.course.card.question}}
    <div class="card">
        <div class="card-header">
            <!-- Title -->
            <h4 class="card-header-title">
                Application Question
            </h4>
        </div>
        <div class="card-body course-card-body">
            {{> quiz-question data.course.card.question}}
        </div>
    </div>
    {{/if}}
    <div class="row align-items-center">
        <div class="col-auto card-bottom-nav">
            {{> course-card-pagination}}
        </div>
    </div>
</div>

<script>
    $(function() {

        var setCardInteractionGQL = function(action, onSuccess, onError) {
            var m = `mutation setCardInteractionMutation(
                    $input: SetCardInteractionInput!
                ) {
                setCardInteraction(input: $input) {
                    completionObj {
                        code
                        msg
                        processed
                        modified
                    }
                }
            }
            `;
            var inputData = {
                clientMutationId: uuidv4(),
                course_id: "{{{data.course.meta.id}}}",
                unit_id: "{{{data.course.nav.currentUnit.id}}}",
                section_id: "{{{data.course.nav.currentSection.id}}}",
                card_id: "{{{data.course.card.id}}}",
                interaction: action
            };
            $.postJSON(gqlEndpoint, {
                query: m,
                variables: {
                    input: inputData
                }
            }, onSuccess, onError);
        };

        setCardInteractionGQL("view", null, function() {
            console.log("Error posting card interaction")
        });
    });
</script>
