{{> course-top}}

<style>
    #course-content-wrapper .unit-card-title {
        margin-right: 4px;
    }
    #course-content-wrapper .collapse-toggle[data-toggle=collapse]:after {
        font-family: Feather;
        display: block;
        margin-left: auto;
        content: "\e92e";
        transition: all .2s ease-in-out;
        color: #95aac9;
    }
    #course-content-wrapper .collapse-toggle[data-toggle=collapse][aria-expanded=true]:after {
        transform: rotate(-180deg);
    }
    #course-content-wrapper .card-indicator {
        color: rgba(0,0,0,0);
        border: 1px solid rgba(0, 0, 0, 0.3);;
        border-radius: 1000px;
    }
</style>

<br/>
<!-- CONTENT -->
<div id="course-content-wrapper" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body mb--4">
                    {{> course-action-button-left}}
                    {{> course-action-button-right}}
                </div>
            </div>

            {{#each data.course.units}}
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center no-gutters">
                                <div class="col">
                                    <!-- Title -->
                                    <h4 class="card-header-title unit-card-title">
                                        <a class="spf-link" href="/learn-{{../route.locale}}/courses/{{../data.course.meta.url_id}}/{{url_id}}/{{first_section_url_id}}/{{first_card_url_id}}">
                                            {{number}}. {{title}}
                                        </a>
                                    </h4>
                                </div>
                                <div class="col">
                                    <!-- Progress -->
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{round ema}}%" aria-valuenow="{{ema}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="small ml-3">{{#eq ema 0}}N/A{{else}}{{round ema}}%{{/eq}}</div>
                                </div>
                            </div> <!-- / .row -->
                        </div>
                        <div class="col-auto">

                        </div>
                        <a class="collapse-toggle" href="#unit-container-{{url_id}}" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="unit-container-{{url_id}}"></a>
                    </div>
                </div>
                <div id="unit-container-{{url_id}}" class="collapse show">
                    <div class="card-body">
                        <ul class="list-group list-group-lg list-group-flush list my--4">
                            {{#each sections_list}}
                            <li class="list-group-item px-0">
                                <div class="row align-items-center">
                                    <div class="col-auto" style="text-transform: uppercase">
                                        {{letter_index}}.
                                    </div>
                                    <div class="col ml--2">

                                        <!-- Title -->
                                        <h4 class="card-title mb-1 name">
                                            <a class="spf-link" href="/learn-{{../../route.locale}}/courses/{{../../data.course.meta.url_id}}/{{../url_id}}/{{url_id}}/{{first_card_url_id}}">{{title}}</a>
                                        </h4>

                                        <!-- Text -->
                                        <p class="card-text small text-muted mb-1">
                                            {{headline}}
                                        </p>

                                        <!-- Time -->
                                        <p class="card-text small text-muted">
                                            {{#each cards_list}}
                                            <a class="spf-link" href="/learn-{{../../../route.locale}}/courses/{{../../../data.course.meta.url_id}}/{{../../url_id}}/{{../url_id}}/{{url_id}}">
                                                <span class="fe fe-circle card-indicator {{#gt ema 80}}bg-success{{else}}{{#gt ema 0}}bg-warning{{else}}{{/gt}}{{/gt}}"></span>
                                            </a>
                                            {{/each}}
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Button -->
                                        <a href="/learn-{{../../route.locale}}/courses/{{../../data.course.meta.url_id}}/{{../url_id}}/{{url_id}}/{{first_card_url_id}}" class="spf-link btn btn-sm btn-outline-primary d-none d-md-inline-block">
                                            Learn
                                        </a>

                                    </div>
                                </div> <!-- / .row -->
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-12 col-lg-4">
            <!-- Card -->
            <div class="card" id="courseContentProgressChartCard">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        Progress
                    </h4>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="chart">
                        <canvas id="courseContentProgressChart" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>

            {{> course-add-on-cards}}
        </div>
    </div>
    <br />
    <br />
    <br />
</div>

<script>
    $(function() {
        if ({{data.course.proficiency}} === 0) {
            $('#courseContentProgressChartCard').hide();
            return;
        }

        var $progChart = $('#courseContentProgressChart');

        var progChart = new Chart($progChart, {
            type: 'doughnut',
            options: {
                tooltips: {
                    callbacks: {
                        title: function(item, data) {
                            var title = data.labels[item[0].index];
                            return title;
                        },
                        label: function(item, data) {
                            var value = data.datasets[0].data[item.index];
                            var content = '';

                            content += '<span class="popover-body-value">' + value + '%</span>';
                            return content;
                        }
                    }
                },
                elements: {
                    center: {
                        text: Math.round({{data.course.proficiency}})+'%',
                        color: ThemeCharts.colors.primary[700], //Default black
                        fontStyle: 'Cerebri Sans, sans-serif', //Default Arial
                        sidePadding: 50 //Default 20 (as a percentage)
                    }
                }
            },
            data: {
                labels: ['Complete', 'Incomplete'],
                datasets: [{
                    data: [{{data.course.proficiency}}, 100-{{data.course.proficiency}}],
                    backgroundColor: [
                        ThemeCharts.colors.primary[700],
                        ThemeCharts.colors.primary[100]
                    ],
                    hoverBorderColor: ( ThemeCharts.mode == 'dark' ) ? ThemeCharts.colors.gray[800] : ThemeCharts.colors.white
                }]
            }
        });

        $progChart.data('chart', progChart);
    });
</script>