{{> course-top}}
{{> course-enrollment-mutations}}

<style>
    #course-index-wrapper .collapse-toggle[data-toggle=collapse]:after {
        font-family: Feather;
        display: block;
        margin-left: auto;
        content: "\e92e";
        transition: all .2s ease-in-out;
        color: #95aac9;
    }
    #course-index-wrapper .collapse-toggle[data-toggle=collapse][aria-expanded=true]:after {
        transform: rotate(-180deg);
    }
    #course-index-wrapper .card-indicator {
        color: rgba(0,0,0,0);
        border: 1px solid rgba(0, 0, 0, 0.3);;
        border-radius: 1000px;
    }
</style>

<!-- CONTENT -->
<div id="course-index-wrapper" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            {{> course-action-button-left}}
            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        Course Overview
                    </h4>
                </div>
                <div class="card-body">
                    {{{markdown data.course.meta.description}}}

                    {{> course-action-button-right}}
                </div>
            </div>

            {{> course-booking course=data.course config=config user=user}}

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Have questions?
                            </h4>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Feel free to reach out to us via <a id="ci-live-chat-help" href="#!">live chat here!</a>
                    <script>
                        $(function() {
                            $('#ci-live-chat-help').click(function() {
                                Intercom('show');
                            });
                        });
                    </script>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        Syllabus
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <strong>
                                <ol>
                                    {{#each data.course.units}}
                                        <a class="spf-link" href="/learn-{{../route.locale}}/courses/{{../data.course.meta.url_id}}/{{url_id}}/{{first_section_url_id}}/{{first_card_url_id}}">
                                            <li>{{title}}</li>
                                        </a>
                                        <br />
                                    {{/each}}
                                </ol>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                More Info (From GitHub)
                            </h4>
                        </div>
                        <div class="col-auto">

                        </div>
                        <a class="collapse-toggle" href="#course-index-info-md-wrapper" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="course-index-info-md-wrapper"></a>
                    </div>
                </div>
                <div id="course-index-info-md-wrapper" class="collapse">
                    <div class="card-body">
                        {{{markdown data.course.meta.info_md}}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Price
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                FREE!
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Rating (5/5)
                            </h5>

                        </div>
                        <div class="col-auto">
                            <span class="text-success">⭐⭐⭐⭐⭐</span>
                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Verified Students
                            </h5>

                        </div>
                        <div class="col-auto">
                            <span class="text-success">5000+ ✅</span>
                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Level
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{data.course.meta.skill_level_text}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Duration
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                ~ {{data.course.meta.est_minutes_text}}
                            </small>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    {{#if data.course.meta.verified_cert_cost}}
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Title -->
                                <h5 class="mb-0">
                                    Certificate
                                </h5>

                            </div>
                            <div class="col-auto">

                                <small class="text-muted">
                                    ${{data.course.meta.verified_cert_cost}} Coins
                                </small>

                            </div>
                        </div> <!-- / .row -->

                        <!-- Divider -->
                        <hr>
                    {{/if}}

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                Languages
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                English
                            </small>

                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>

            {{> course-add-on-cards}}
        </div>
    </div>
    <br />
    <br />
    <br />
</div>