{{> digital-diploma-top}}

<style>
    .user-logos-container {
        text-align: center;
        padding: 0 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .user-logos-container h3 {
        margin-top: 30px;
    }

    .user-logos-container img {
        width: 100%;
    }

    #user-logos-mobile {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @media (max-width:679px) {
        #user-logos-desktop {
            display: none;
        }
    }

    @media (min-width:680px) {
        #user-logos-mobile {
            display: none;
        }
    }

</style>

<!-- CONTENT -->
<div id="digital-diploma-index-wrapper" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Title -->
                            <h4 class="col card-header-title">
                                {{#if data.digitalDiploma.is_project}}
                                    Guided Project Overview
                                {{else}}
                                    Digital Diploma Overview
                                {{/if}}
                            </h4>
                        </div>
                        <div class="col-auto">
                            <a href="#dd-plans" class="btn btn-sm btn-primary"><span class="fe fe-user-check mr-1"></span>Enroll Today!</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{{markdown data.digitalDiploma.description}}}
                </div>
            </div>

            <div id="dd-plans">
                {{#each data.digitalDiploma.plans}}
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                {{title}}
                            </h4>
                        </div>
                        <div class="card-body">
                            {{{markdown headline}}}
                            <a href="#!modalCheckout={{{encodeURI checkoutItemJSON}}}" class="btn btn-primary">Enroll Now! (Introductory Offer: ${{cost}})</a>
                            <br>
                            <small>NOTE: Sales End December 1st, Limited Spots Remain!</small>
                        </div>
                    </div>
                {{else}}
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Oops!
                            </h4>
                        </div>
                        <div class="card-body">
                            Oh no, there are no plans currently available! Please check back soon to see if spaces become available!
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Instructors
                            </h4>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{{markdown data.digitalDiploma.info_md}}}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Have questions?
                            </h4>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    Feel free to reach out to us via <a class="drift-open-chat" href="#!">live chat here!</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
