<style>
    #instructor-profile-header {
        margin-bottom: 0;
    }
    #instructor-profile-header .hero-wrapper {
        height: 200px;
        width: 100%;
    }
    #instructor-profile-header .hero {
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/learn-en/assets/img/covers/profile-cover-1.jpg') no-repeat;
        background-size: cover;
        background-position-y: 25%;
    }
    #instructor-profile-header .header-avatar-top img {
        background-color: white;
    }
    #instructor-profile-header .header-body {
        border: none;
    }
    #instructor-profile-header .row.align-items-end {
        margin-top: 8px;
    }
    @media (min-width: 768px) {
        #instructor-profile-header .row.align-items-end {
            margin-top: 14px;
        }
    }
</style>

<!-- HEADER -->
<div id="instructor-profile-header" class="header">

    <div class="hero-wrapper">
        <div class="hero">

        </div>
    </div>

    <div class="container-fluid">

        <!-- Body -->
        <div class="header-body mt--5 mt-md--6">
            <div class="row align-items-end">
                <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-xxl header-avatar-top">
                        <img src="{{data.instructor.avatar_url}}" alt="..." class="avatar-img rounded-circle border border-4 border-body">
                    </div>

                </div>
                <div class="col mb-3 ml--3 ml-md--2">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle mt-4">
                        {{intlGet "messages.instructors.label_singular"}}
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                        {{data.instructor.full_name}}
                    </h1>

                    <small class="text-secondary">{{data.instructor.headline}}</small>

                </div>
                <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">

                    <!--&lt;!&ndash; Button &ndash;&gt;-->
                    <!--<a href="#!" class="btn btn-primary d-block d-md-inline-block">-->
                        <!--Book Now!-->
                    <!--</a>-->

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .header-body -->

    </div>
</div>

<!-- CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-8">
            {{#if data.instructor.biography}}
                <div class="card">
                    <div class="card-header">
                        <!-- Title -->
                        <h4 class="card-header-title">
                            {{intlGet "messages.instructors.about_me"}}
                        </h4>
                    </div>
                    <div class="card-body">
                        {{{markdown data.instructor.biography}}}
                    </div>
                </div>
            {{/if}}
            {{#each data.instructor.instructor_timekit.intervals}}
                <div id="bookingjs"></div>
                <script>
                    TimekitBooking().init({
                        app_key: '{{{../config.timekitPublicKey}}}',
                        project_id: '{{{project_id}}}', // Change this!
                        customer_fields: {
                            name: {
                                title: "{{intlGet "messages.coins.full_name_label"}}",
                                prefilled: '{{../user.full_name}}',
                                readonly: false
                            },
                            email: {
                                title: "{{intlGet "messages.instructors.email_label"}}",
                                prefilled: '{{../user.email}}',
                                readonly: false
                            },
                            location: {
                                title: "{{intlGet "messages.class.location_label"}}",
                                prefilled: "{{intlGet "messages.class.loc_online_remote_av"}}",
                                readonly: true
                            },
                            deposit: {
                                title: "{{intlGet "messages.class.deposit_required_line"}}",
                                prefilled: "US$5 {{intlGet "messages.class.deposit_refunded_after_line"}}",
                                readonly: true
                            },
                            rate: {
                                title: "{{intlGet "messages.instructors.hourly_rate_billed_line"}}",
                                prefilled: "US$40{{intlGet "messages.class.per_hr_payment_due_line"}}",
                                readonly: true
                            }
                        },
                        ui: {
                            display_name: "{{intlGet "messages.instructors.book_session_with"}} {{../data.instructor.full_name}}",
                            localization: {
                                submit_button: "{{intlGet "messages.class.pay_deposit"}}",
                                success_message: "{{intlGet "messages.class.your_booking_awaiting_line"}}"
                            }
                        },
                        callbacks: {
                            createBookingSuccessful: function (resp) {
                                var bookingCheckoutItem = {
                                    category: 'instructor_booking_deposit',
                                    quantity: 1,
                                    options: {

                                    },
                                    refs: {
                                        booking_id: resp.data.id
                                    },
                                    displayUnitCost: 5,
                                    displayName: "{{intlGet "messages.instructors.deposit_session_with"}} {{{../data.instructor.full_name}}}"
                                };
                                window.location.hash = '#!modalCheckout='+encodeURIComponent(JSON.stringify(bookingCheckoutItem));
                            }
                        }
                    });
                </script>
            {{/each}}
        </div>
        <div class="col-12 col-xl-4">

            <!-- Card -->
            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.instructors.topics_label"}}
                            </h5>
                        </div>
                        <div class="col-auto" style="max-width: 100%;">

                            {{#each data.instructor.instructor_topics_locale}}
                                <span class="badge badge-primary">
                                    {{this}}
                                </span>
                            {{/each}}

                        </div>
                </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.instructors.rating_label"}} (5/5)
                            </h5>

                        </div>
                        <div class="col-auto">
                            <span class="text-success">⭐⭐⭐⭐⭐</span>
                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.course.verified_lessons"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <span class="text-success">500+ ✅</span>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.certificate.price_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <time class="small text-muted">
                                US$40/{{intlGet "messages.course.hour_label"}}
                            </time>

                        </div>
                    </div> <!-- / .row -->

                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.course.joined_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <time class="small text-muted" datetime="2017">
                                2017
                            </time>

                        </div>
                    </div> <!-- / .row -->

                    {{#if data.instructor.location_name}}
                    <!-- Divider -->
                    <hr>

                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h5 class="mb-0">
                                {{intlGet "messages.class.location_label"}}
                            </h5>

                        </div>
                        <div class="col-auto">

                            <small class="text-muted">
                                {{data.instructor.location_name}}
                            </small>

                        </div>
                    </div> <!-- / .row -->
                    {{/if}}

                </div>
            </div>

        </div>
    </div> <!-- / .row -->
    <div class="row">
        <div class="col-12 col-xl-8">
            {{#if data.instructor.twitter_username}}
                <div class="card">
                    <div class="card-header">
                        <!-- Title -->
                        <h4 class="card-header-title">
                            {{intlGet "messages.instructors.updates_label"}}
                        </h4>
                    </div>
                    <div class="card-body">
                        <a class="twitter-timeline" href="https://twitter.com/{{data.instructor.twitter_username}}?ref_src=twsrc%5Etfw">{{intlGet "messages.instructors.loading_updates"}} ...</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div> <!-- / .container-fluid -->