<div class="main-content" style="background-image: url(https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/home-top-banner.jpg); background-attachment: fixed; background-position: bottom right; background-size: cover;">
    {{> marketing/topbar}}
    <div>
        <div id="marketing-index-splash">
            <div class="container">

                <div class="title">
                    <div class="d-xl-flex flex-row">
                        <div class="white-title">
                            {{intlGet "messages.marketing.free_prof"}}&nbsp;
                        </div>
                        <div class="blue-title">
                            {{intlGet "messages.marketing.tech_courses"}}
                        </div>
                    </div>
                    <div class="white-title">
                        {{intlGet "messages.marketing.get_hired"}}
                    </div>
                </div>

                <div class="subtitle">
                    {{intlGet "messages.marketing.join_free_line"}}
                    {{intlGet "messages.marketing.get_hired_line"}}
                </div>

                <div class="btn-wrapper">
                    <a class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5 btn-get-started" href="/learn-{{route.locale}}/courses">
                        {{intlGet "messages.marketing.start_learning_free"}} <span class="fe fe-chevron-right" style="color: black;"></span>
                    </a>
                    <div class="no-login">
                        *  {{intlGet "messages.marketing.no_login_req"}}
                    </div>
                </div>

            </div> <!-- #marketing-content-splash -->
        </div> <!-- #content -->
    </div>
</div>
{{> marketing/top-companies}}
{{> marketing/cards}}
{{> marketing/course-carousel}}
{{> marketing/create-course}}
{{> marketing/get-verified}}
{{> marketing/instructor-card}}
{{> marketing/newsletter}}
