<div class="container-fluid">
  <div id="marketing-get-verified" class="row pt-6 pb-6">

      <div class="col-2 col-sm-2">
        <img src="https://cdn-mktg.exlskills.com/site-assets/ico-color-verified.svg" alt="..." class="img-fluid float-right">
      </div>

      <div class="col-8 col-sm-5 mb-2">

        <span class="text-white title">{{intlGet "messages.certificate.get_employed_caps"}}</span>
        <br>
        <br>

        <h1>
            {{intlGet "messages.marketing.guaranteed_eo"}}
        </h1>

        <h3 class="text-white mb-4 col-xl-8 p-0">
            {{intlGet "messages.digital_diplomas.apply_early_line"}}*
        </h3>

        <a href="#" data-toggle="modal" data-target="#modalCalloutLookingForJob" class="btn btn-outline-dark btn-lg pt-3 pb-3 pl-5 pr-5">
          {{intlGet "messages.help.learn_more"}}
        </a>

          <div class="text-secondary small mt-2">* {{intlGet "messages.digital_diplomas.conditions_eo_line"}}</div>
      </div>

    </div>
</div>
