<div id="marketing-instructor" class="container-fluid row pt-6 pb-6">
  <div class="col-10 col-sm-4">

    <span class="pink-title">{{intlGet "messages.instructors.teach_on_caps"}}</span>
    <br />
    <br />
    <h1>
      {{intlGet "messages.instructors.become_instr"}}
    </h1>

    <h3 class="text-muted mb-4">
        {{intlGet "messages.instructors.become_instr_line"}}
    </h3>

    <a href="{{config.becomeAnInstructorForm}}" target="_blank" rel="noopener" class="btn btn-outline-primary btn-lg pt-3 pb-3 pl-5 pr-5">
        {{intlGet "messages.marketing.apply_now_e"}}
    </a>
  </div>

  <div style="display: none" class="col-4 d-sm-block">
    <img src="https://cdn-mktg.exlskills.com/site-assets/_index/image-instructor.jpg" alt="..." class="img-fluid float-left"/>
  </div>

</div>
