<nav id="marketing-topbar" class="navbar navbar-expand-md navbar-light" style="border-bottom: 0; background-color: transparent">
    <div class="container-fluid">

        <!-- Brand -->
        <div>
          <a class="navbar-brand" href="/learn-{{route.locale}}">
            <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/exlskills-logo-white.svg" class="navbar-brand-img" alt="...">
          </a>
        </div>

        <!-- NavBar Links wide format -->
          <div style="display: none" id="marketing-nav-links" class="navbar-nav d-md-flex flex-row">

              <div class="nav-item">
                  <a class="nav-link" href="/learn-{{route.locale}}/projects">
                      {{intlGet "messages.guided_projects.projects_label"}}
                  </a>
              </div>

            <div class="nav-item">
              <a class="nav-link" href="/learn-{{route.locale}}/courses">
                  {{intlGet "messages.course.label_plural"}}
              </a>
            </div>

              <div class="nav-item">
                  <a class="nav-link" href="https://github.com/exlskills" target="_blank" rel="noopener">
                      {{intlGet "messages.marketing.contribute_label"}}
                  </a>
              </div>

            <div class="nav-item">
              <a class="nav-link" href="/learn-{{route.locale}}/dashboard#!modalAuthenticate">
                {{intlGet "messages.misc.sign_in_label"}}
              </a>
            </div>


          <!-- Button -->
          <div class="navbar-user">
            <a href="learn-{{route.locale}}/courses" class="btn btn-outline-primary pt-2 pb-2 pl-4 pr-4 btn-enter ml-4">
                {{intlGet "messages.marketing.learn_free_caps"}}
            </a>
          </div>

        </div> <!-- / .navbar-nav -->

        <!--Navbar links mobile format menu hamburger-->
        <div style="display: flex" class="navbar-nav d-md-none mr-2">

            <a class="hamburger-icon" data-toggle="dropdown">
              <img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/menu-hamburguer.svg" />
            </a>

            <div class="hamburger-menu dropdown-menu dropdown-menu-right" style="margin-right: 20px;">

              <a class="nav-link hamburger-menu-link" href="/learn-{{route.locale}}/projects">
                  {{intlGet "messages.guided_projects.projects_label"}}
              </a>

              <a class="nav-link hamburger-menu-link" href="/learn-{{route.locale}}/courses">
                  {{intlGet "messages.course.label_plural"}}
              </a>

                <a class="nav-link hamburger-menu-link" href="https://github.com/exlskills" target="_blank" rel="noopener">
                    {{intlGet "messages.marketing.contribute_label"}}
                </a>

                <a class="nav-link hamburger-menu-link" href="/learn-{{route.locale}}/dashboard#!modalAuthenticate">
                    {{intlGet "messages.misc.sign_in_label"}}
                </a>

            </div>
        </div>
    </div> <!-- / .container-fluid -->
</nav>
