
<!-- Modal: Callout looking for a job -->
<div class="modal fade" id="modalCalloutLookingForJob" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-card card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                {{intlGet "messages.marketing.get_tech_job"}}&nbsp;🎓
                            </h4>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>

                <div class="card-body">
                    <!-- Coins Balance -->
                    <div>
                        <div class="col text-center">
                            <h2 style="margin-bottom: 10px;">{{intlGet "messages.marketing.eligible_applicants_get_job_line"}}* 🎓</h2>
                        </div>
                        <div class="col text-center">
                            <img src="{{config.static_assets_url_prefix}}/img/illustrations/happiness.svg" alt="..." class="img-fluid mb-4" style="max-width: 180px;">
                        </div>
                        <h3 class="text-center text-secondary">
                            {{intlGet "messages.marketing.begin_early_app_today"}}
                        </h3>
                        <form id="get-job-campaign-form">
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <input type="email" placeholder="Your email address" class="form-control co-email-addr" required>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn btn-success w-100 text-center">{{intlGet "messages.marketing.show_how_to_apply"}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <small class="text-secondary mt-2">
                            * {{intlGet "messages.marketing.if_accepted_final_terms_line"}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Callout already have a tech job (want raise) -->
<div class="modal fade" id="modalCalloutLookingForRaise" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-card card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                {{intlGet "messages.marketing.earn_more_money"}}&nbsp;🎓
                            </h4>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>

                <div class="card-body">
                    <!-- Coins Balance -->
                    <div>
                        <div class="col text-center">
                            <h2 style="margin-bottom: 10px;">{{intlGet "messages.marketing.eligible_applicants_get_raise_line"}}* 🎓</h2>
                        </div>
                        <div class="col text-center">
                            <img src="{{config.static_assets_url_prefix}}/img/illustrations/happiness.svg" alt="..." class="img-fluid mb-4" style="max-width: 180px;">
                        </div>
                        <h3 class="text-center text-secondary">
                            {{intlGet "messages.marketing.begin_early_app_today"}}
                        </h3>
                        <form id="get-raise-campaign-form">
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <input type="email" placeholder="Your email address" class="form-control co-email-addr" required>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn btn-success w-100 text-center">{{intlGet "messages.marketing.show_how_to_apply"}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <small class="text-secondary mt-2">
                            * {{intlGet "messages.marketing.if_accepted_final_terms_line"}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#get-job-campaign-form").submit(function(e) {
            e.preventDefault();
            var $self = $(this);
            subscribeToMailingList($("#" + $self.attr('id') + " .co-email-addr").val(), 'co_get_job_dd_sub_0', function() {
                $("#" + $self.attr('id') + " .co-email-addr").val("");
                $("#modalCalloutLookingForRaise").modal('hide');
                window.localStorage.setItem('techJobCalloutTopAction', 'co_get_job_dd_sub_0');
                window.localStorage.setItem('toastOnLoad', JSON.stringify({intent: 'success', message: "{{intlGet "messages.digital_diplomas.check_your_inbox_line"}}", title: "{{intlGet "messages.digital_diplomas.you_are_on_your_way_e"}}"}));
                window.location.reload();
            }, function() {
                toastr.error("{{intlGet "messages.news.make_sure_valid_email"}}", "{{intlGet "messages.error.oops_something_wrong"}}");
            });
            return false;
        });
    });
</script>

<script>
    $(function() {
        $("#get-raise-campaign-form").submit(function(e) {
            e.preventDefault();
            var $self = $(this);
            subscribeToMailingList($("#" + $self.attr('id') + " .co-email-addr").val(), 'co_get_raise_dd_sub_0', function() {
                $("#" + $self.attr('id') + " .co-email-addr").val("");
                $("#modalCalloutLookingForJob").modal('hide');
                window.localStorage.setItem('techJobCalloutTopAction', 'co_get_raise_dd_sub_0');
                window.localStorage.setItem('toastOnLoad', JSON.stringify({intent: 'success', message: "{{intlGet "messages.digital_diplomas.check_your_inbox_line"}}", title: "{{intlGet "messages.digital_diplomas.you_are_on_your_way_e"}}"}));
                window.location.reload();
            }, function() {
                toastr.error("{{intlGet "messages.news.make_sure_valid_email"}}", "{{intlGet "messages.error.oops_something_wrong"}}");
            });
            return false;
        });
    });
</script>
